{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- S: login.html -->
<main class="container my-3 h-100 min-vh-100 mx-auto position-relative">
    <h1 id ="logo_div" class="logo mb-3">
        <img id="logo_img" src="{% static 'img/logo_3.png' %}" class="img-fluid mx-auto d-block" alt="AutoSlider 로고">
    </h1>
    <form method="post" class="login_form" action="{% url 'common:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="input-group mb-3">
            <label for="username" class="input-group-text">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" required>
        </div>
        <div class="input-group mb-3">
            <label for="password" class="input-group-text">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}" required>
        </div>
        <div id="loginBtn" class="loginBtn start-50">
            <button id="signup_button" type="submit" class="btn btn-secondary btn-lg">로그인</button>
        </div>
    </form>
    <div id="signupBtn" class="signupBtn text-center">
        <a id="signup_button" href="{% url 'common:signup' %}" class="btn btn-secondary btn-lg d-inline mx-auto ">회원가입</a>
    </div>
</main>
{% include "footer.html" %}
<!-- E: login.html -->
{% endblock %}
