{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- S: login.html -->
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="logo col-md-4 text-center mt-5">
            <a href="{% url 'common:login' %}" class="text-center d-inline-block">
                <img id="logo_img" src="{% static 'img/logo_1.png' %}" class="img-fluid mx-auto d-inline-block" width="120" height="100" alt="AutoSlider 로고">
            </a>
        </div>
        <form method="post" class="needs-validation was-validated" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="username" class="form-label align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg><span calss="align-middle">아이디</span>
                </label>
                <input type="text" class="form-control is-valid" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" title="20자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다." required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                        <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                    </svg>
                    <span calss="align-middle">비밀번호</span>
                </label>
                <input type="password" class="form-control is-valid" name="password1" id="password1" value="{{ form.password1.value|default_if_none:'' }}" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" title="비밀번호는 최소 8자여야 하며, 숫자 및 영문과 특수문자($@$!%*#?&) 조합이어야 합니다. 또한 다른 개인정보와 유사해서는 안됩니다." required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                        <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                    </svg>
                    <span calss="align-middle">비밀번호 확인</span>
                </label>
                <input type="password" class="form-control is-valid" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" placeholder="확인을 위해 이전과 동일한 비밀번호를 입력하세요." required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                    </svg>
                    <span calss="align-middle">이메일</span>
                </label>
                <input type="email" class="form-control" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="example@test.com" required>
            </div>
            <div class="mb-3">
                <label for="nickname" class="form-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                    </svg>
                    <span calss="align-middle">닉네임(별명)</span>
                </label>
                <input type="text" class="form-control is-valid" name="nickname" id="username" value="{{ form.nickname.value|default_if_none:'' }}" title="20자 이하 문자, 숫자 만 가능합니다." required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    <span calss="align-middle">전화번호</span>
                </label>
                <input type="text" class="form-control is-valid" name="phone" id="phone" value="{{ form.phone.value|default_if_none:'' }}" pattern="^01([016789])([0-9]{7,8})$" placeholder="01012345678 형식으로 입력해주세요." required>
            </div>
            <div class="center-left-align mb-3 text-center">
                <input class="form-check-input" type="checkbox" value="" required>
                <label class="form-check-label">서비스 이용에 동의 합니다</label>
            </div>
            <div class="center-left-align mb-3 text-center">
                <input class="form-check-input" type="checkbox" value="" required>
                <label class="form-check-label" >개인 정보에 동의 합니다</label>
            </div>
            <div class="center-left-align mb-3 mx-auto" style="width:305px;">
                <div class="g-recaptcha" data-sitekey="6LcgikclAAAAABvN0DzeIZyJdNP3ENld4zI135BP" data-callback="recaptcha"></div>
            </div>
            <div class="center-left-align mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-block w-100">회원가입</button>
            </div>
        </form>
    </div>
</div>
{% include "footer.html" %}
<!-- 구글 reCAPTCHA  -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- E: login.html -->
{% endblock %}
